h1 {
   text-align:center;
   font-weight:bold;
}


.navigation {
            text-align: center;
            font-size:25px;
            background-color: #FFEFBA;
}

.navigation a {
            text-decoration: none;
            color: #002c52;
            font-weight: bold;
            text-align: left;
}

input, textarea {
            display: block;
            width: 100%;
            padding: 2em;
            border: 1px solid #red;
            margin-top: 1em;
}

button {
            margin-top: 3em;
            width: 100% !important;
            font-weight:bold;
}

.box-5 {
            margin: 2em;
}


.sec-btn {
            color: #121212;
            font-weight: bold;
            background-color: #red !important;
}


